<!--右侧区域start-->
<div class="right_cont">
  <div class="content">
    <!--功能信息展示区start-->
    <div class="bd">
      <div class="bd_top">
        <div class="bd_tl"></div>
        <div class="bd_tr"></div>
        <h3>新闻资讯列表</h3></div>
      <div class="bd_cont">
        <div class="gray_cont mrb">
          <div class="table_cont borb_1">
            <table class="form_table">
              <tr>
                <td class="txt_r w_70">订单编号：</td>
                <td class="td_20"><span class="span_text td_80"><input type="text" class="text"/></span></td>
                <td class="">
                  <button class="submit"><span>查询</span></button>
                </td>
              </tr>

            </table>
          </div>
          <div class="table_cont mrb mrt">
            <table class="c_table">
              <tr>
                <th width="3%"><input type="checkbox" class="checkbox"/></th>
                <th>单号</th>
                <th>客户名称</th>
                <th>紧急程度</th>
                <th>开单时间</th>
                <th>金额</th>
                <th>配件项数</th>
                <th>付款方式</th>
                <th>发票类型</th>
                <th>配送方式</th>
                <th>订单状态</th>
                <th>开单时间</th>
                <th>备注</th>
              </tr>
              <tr class="tr_0">
                <td><input type="checkbox" class="checkbox"/></td>
                <td>C212022496467</td>
                <td>上海欧联</td>
                <td>特急</td>
                <td>2012-7-19</td>
                <td>700</td>
                <td>10</td>
                <td>挂账</td>
                <td>无票</td>
                <td>顺风</td>
                <td>未审核</td>
                <td>2012-07-29</td>
                <td></td>
              </tr>
              <tr class="tr_1">
                <td><input type="checkbox" class="checkbox"/></td>
                <td>C212022496468</td>
                <td>昆明天祥汽配</td>
                <td>紧急</td>
                <td>2012-7-19</td>
                <td>500</td>
                <td>4</td>
                <td>汇款</td>
                <td>有票</td>
                <td>宅急送</td>
                <td>未审核</td>
                <td>2012-07-29</td>
                <td></td>
              </tr>
              <tr class="tr_0">
                <td><input type="checkbox" class="checkbox"/></td>
                <td>C212022496470</td>
                <td>烟台胡秀言</td>
                <td>正常</td>
                <td>2012-7-19</td>
                <td>244</td>
                <td>2</td>
                <td>现金</td>
                <td>无票</td>
                <td>上门取货</td>
                <td>未审核</td>
                <td>2012-07-29</td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="mrb">
            <div class="pagination">
              <div class="page_count">当前第<b>1</b>页 / 每页<b>5</b>条记录（共<b>55</b>条）</div>
              <a class="first_page">首页</a><span class="prev_page">上一页</span><a href="####" class="next_page">下一页</a><span href="####" class="last_page">末页</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--功能信息展示区end-->
  </div>
</div>
<!--右侧区域end-->
<!--左边菜单区域-->
<%= render 'left_menu' %>