<div class="left_cont">
  <div class="side_bar">
    <ul class="side_l">
      <li class="current"><%= link_to "新闻资讯", {:controller => "informations", :action => "news_info"}, {:title => "新闻资讯"} %></li>
      <li><%= link_to "图片资讯", {:controller => "informations", :action => "pic_info"}, {:title => "图片资讯"} %></li>
      <li><%= link_to "视频资讯", {:controller => "informations", :action => "video_info"}, {:title => "视频资讯"} %></li>
      <li><%= link_to "文件下载", {:controller => "informations", :action => "file_info"}, {:title => "文件下载"} %></li>
    </ul>
  </div>
</div>

