<!--右侧区域start-->
<div class="right_cont">
  <div class="content">
    <!--功能信息展示区start-->
    <%= render 'form' %>

    <%= link_to '返回', admin_attr_mgms_path %>
    <!--功能信息展示区end-->
  </div>
</div>
<!--右侧区域end-->

<!--左边菜单区域-->
<%= left_menu_boards %>
