<!--右侧区域start-->
<div class="right_cont">
  <div class="content">
    <!--功能信息展示区start-->
    <div class="bd">
      <div class="bd_top">
        <div class="bd_tl"></div>
        <div class="bd_tr"></div>
        <h3>日志列表</h3></div>
      <div class="bd_cont">
        <div class="gray_cont mrb">
          <div class="table_cont borb_1">

          </div>
          <div class="table_cont mrb mrt">

          </div>
          <div class="mrb">
            <div class="pagination">
              <div class="page_count">当前第<b>1</b>页 / 每页<b>5</b>条记录（共<b>55</b>条）</div>
              <a class="first_page">首页</a><span class="prev_page">上一页</span><a href="####" class="next_page">下一页</a><span href="####" class="last_page">末页</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--功能信息展示区end-->
  </div>
</div>
<!--右侧区域end-->


<!--左边菜单区域-->
<%= render 'left_menu' %>