	<!--中间部分start-->
    <div class="body_cont">
	  <!--右侧区域start-->
      <div class="right_cont">
        <div class="content">
		  <!--功能信息展示区start-->
          <div class="bd">
            <div class="bd_top"><div class="bd_tl"></div><div class="bd_tr"></div><h3>新建工作台</h3></div>
            <div class="bd_cont" style="height:400px">

            </div>
          </div>
          <!--功能信息展示区end-->
        </div>
      </div>
	  <!--右侧区域end-->
	  <!--左边菜单区域start-->
      <div class="left_cont">
        <div class="side_bar">
          <ul class="side_l">
            <li class="current"><a href="####"><span class="a_l"></span>我的工作台<span class="a_r"></span></a></li>
			<li class="hide_li">
				<ul>
					<li><a href="###"><span class="a_l"></span>新建工作台<span class="a_r"></span></a></li>

				</ul>
			</li>
          </ul>
        </div>
      </div>
	  <!--左边菜单区域end-->
    </div>
    <!--中间部分end-->